    * {
        margin: 0;
        padding: 0;
    }

    html,
    body {
        background-color: #fff;
    }

    ul,
    ol {
        list-style: none;
    }

    a,
    img {
        text-decoration: none;
        outline: none;
    }

    /* media Queries */
    .loader {
        height: 100%;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9999;
        background: url('/public/img/logobg.png') no-repeat center;
        background-size: cover;
    }

    .loader span {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        position: relative;
    }

    .loader span img {
        display: block;
        width: 100%;
        max-width: 232px;
        margin: 0 0 8px 0;
    }

    .header {
        height: auto;
        width: 100%;
        position: relative;
        z-index: 99;
        height: auto;
    }

    @media (max-width: 1280px) {
        .header {
            height: auto;
        }
    }

    .header.autoheight {
        height: auto !important;
    }

    .header.autoheight .header_top {
        position: relative;
    }

    .header .sticky_header {
        position: fixed !important;
        left: 0;
        top: 0;
        z-index: 9999;
    }

    .header .header_top {
        width: 100%;
        position: absolute;
        z-index: 9999;
    }

    @media (max-width: 1280px) {
        .header .header_top {
            position: relative;
        }
    }

    .header .header_top .logo {
        position: absolute;
        top: -10px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: url('/public//img//logobg.png') no-repeat center top;
        background-size: cover;
        width: 380px;
        height: 162px;
        z-index: 9999;
        font-size: 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .header .header_top .logo img {
        display: block;
        width: 21%;
        margin: 18px 0 0 0;
    }

    @media (max-width: 1280px) {
        .header .header_top .logo {
            height: 160px;
            width: 160px;
            background-size: 100%;
            display: none;
        }
    }

    .header .header_top header {
        width: 100%;
        background-color: #1f488d;
    }

    .header .header_top header ul {
        width: 100%;
        padding: 0 24px 0 24px;
        box-sizing: border-box;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    @media (max-width: 768px) {
        .header .header_top header ul {
            grid-template-columns: repeat(1, 1fr);
            padding: 12px 24px;
        }
    }

    .header .header_top header ul li {
        width: 100%;
        height: 40px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    @media (max-width: 768px) {
        .header .header_top header ul li {
            height: auto;
        }
    }

    .header .header_top header ul li:last-child {
        justify-content: flex-end;
    }

    .header .header_top header ul li .phoneemail {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    @media (max-width: 768px) {
        .header .header_top header ul li .phoneemail {
            justify-content: center;
        }
    }

    .header .header_top header ul li .phoneemail dt {
        width: auto;
        margin: 0 20px 0 0;
        padding: 0 20px 0 0;
        box-sizing: border-box;
        border-right: 1px solid rgba(255, 255, 255, 0.4);
    }

    .header .header_top header ul li .phoneemail dt:last-child {
        margin: 0;
        padding: 0;
        border: none;
    }

    @media (max-width: 560px) {
        .header .header_top header ul li .phoneemail dt {
            margin: 0 8px 0 0;
            padding: 0 8px 0 0;
        }
    }

    .header .header_top header ul li .phoneemail dt a {
        display: inline-block;
        width: auto;
        font: 400 14px "Circular Std medium", sans-serif;
        color: #fff;
        background: url('/public//img/call1.svg') no-repeat left center;
        background-size: 20px;
        padding: 0 0 0 28px;
        box-sizing: border-box;
    }

    @media (max-width: 560px) {
        .header .header_top header ul li .phoneemail dt a {
            font-size: 13px;
        }
    }

    .header .header_top header ul li .phoneemail dt a.draft {
        background: url('/public//img/email1.svg') no-repeat left center;
        background-size: 20px;
    }

    .header .header_top header ul li .admfollow {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-end;
    }

    @media (max-width: 768px) {
        .header .header_top header ul li .admfollow {
            justify-content: center;
            margin: 8px 0 0 0;
        }
    }

    .header .header_top header ul li .admfollow dt {
        width: auto;
        margin: 0 20px 0 0;
        padding: 0 20px 0 0;
        box-sizing: border-box;
        border-right: 1px solid rgba(255, 255, 255, 0.4);
    }

    .header .header_top header ul li .admfollow dt:last-child {
        margin: 0;
        padding: 0;
        border: none;
    }

    @media (max-width: 560px) {
        .header .header_top header ul li .admfollow dt {
            margin: 0 10px 0 0;
            padding: 0 10px 0 0;
        }
    }

    @media (max-width: 420px) {
        .header .header_top header ul li .admfollow dt {
            margin: 0 6px 0 0;
            padding: 0 6px 0 0;
        }
    }

    .header .header_top header ul li .admfollow dt a {
        display: inline-block;
        width: auto;
        font: 400 14px/32px "Circular Std medium", sans-serif;
        color: #f00;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-color: #ff0;
        padding: 0 16px;
        border-radius: 50px;
    }

    @media (max-width: 560px) {
        .header .header_top header ul li .admfollow dt a {
            margin: 0 0 4px 0;
            font-size: 10px;
        }
    }

    .header .header_top header ul li .admfollow dt .findus {
        width: auto;
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .header .header_top header ul li .admfollow dt .findus b {
        display: inline-block;
        width: auto;
        font: 400 14px "Circular Std medium", sans-serif;
        color: #fff;
    }

    .header .header_top header ul li .admfollow dt .findus a {
        display: inline-block;
        height: 24px;
        width: 24px;
        margin: 0 0 0 6px;
        font-size: 0;
    }

    .header .header_top header ul li .admfollow dt .findus a.facebook {
        background: url('') no-repeat center;
        background-size: 24px;
    }

    .header .header_top header ul li .admfollow dt .findus a.twitter {
        background: url('') no-repeat center;
        background-size: 24px;
    }

    .header .header_top header ul li .admfollow dt .findus a.linkedin {
        background: url('') no-repeat center;
        background-size: 24px;
    }

    .header .header_top header ul li .admfollow dt .findus a.instagram {
        background: url('') no-repeat center;
        background-size: 24px;
    }

    .header .header_top header ul li .admfollow dt .findus a.youtube {
        background: url('') no-repeat center;
        background-size: 24px;
    }

    .header .header_top .nav {
        width: 100%;
        background-color: #fff;
    }

    .header .header_top .nav.white {
        background-color: #fff;
    }

    @media (max-width: 1280px) {
        .header .header_top .nav {
            display: none;
        }
    }

    .header .header_top .nav ul {
        width: 100%;
        padding: 0 24px 0 24px;
        box-sizing: border-box;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .header .header_top .nav ul li {
        width: 100%;
        height: 80px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    @media (max-width: 1024px) {
        .header .header_top .nav ul li {
            height: 62px;
        }
    }

    .header .header_top .nav ul li:last-child {
        justify-content: flex-end;
    }

    .header .header_top .nav ul li .links {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    @media (max-width: 1024px) {
        .header .header_top .nav ul li .links {
            display: none;
        }
    }

    .header .header_top .nav ul li .links dl {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .header .header_top .nav ul li .links dl dt {
        width: auto;
        margin: 0 0 0 8px;
        position: relative;
    }

    .header .header_top .nav ul li .links dl dt:first-child {
        margin: 0;
    }

    .header .header_top .nav ul li .links dl dt:hover {
        transition: .5 ease;
    }

    .header .header_top .nav ul li .links dl dt:hover .submenu {
        display: block;
    }

    .header .header_top .nav ul li .links dl dt:hover small {
        display: block;
        width: 100%;
        text-align: center;
        font: 400 12px/32px "Circular Std", sans-serif;
        color: #202020;
        background-color: #FDCC4B;
    }

    .header .header_top .nav ul li .links dl dt:hover .rightshape {
        position: absolute;
        width: 0px;
        height: 0px;
        right: 1px;
        border-color: transparent transparent transparent #FDCC4B;
        border-style: solid;
        border-width: 40px 0px 0px 8px;
        border-image: none 100% / 1 / 0 stretch;
        bottom: 8px;
        right: 0;
    }

    .header .header_top .nav ul li .links dl dt:hover .topshape {
        position: absolute;
        width: 0px;
        height: 0px;
        border-color: transparent transparent #FDCC4B;
        border-style: solid;
        border-width: 0 0px 32px 8px;
        border-image: none 100% / 1 / 0 stretch;
        top: 8px;
        left: 0;
    }

    .header .header_top .nav ul li .links dl dt:hover .bottomshape {
        position: absolute;
        width: 0px;
        height: 0px;
        border-color: transparent transparent #FDCC4B;
        border-style: solid;
        border-width: 0px 3px 8px 120px;
        border-image: none 100% / 1 / 0 stretch;
        top: 0;
        left: 8px;
        transform: rotate(0deg);
    }

    .header .header_top .nav ul li .links dl dt:hover .leftshape {
        position: absolute;
        width: 0px;
        height: 0px;
        border-color: #FDCC4B transparent transparent;
        border-style: solid;
        border-width: 40px 10px 0 0;
        border-image: none 100% / 1 / 0 stretch;
        top: 8px;
        right: 0;
    }

    .header .header_top .nav ul li .links dl dt a {
        display: block;
        width: 136px;
        color: #202020;
        text-transform: uppercase;
        position: relative;
        transition: .5 ease;
        padding: 8px;
        box-sizing: border-box;
    }

    .header .header_top .nav ul li .links dl dt a small {
        display: block;
        width: 100%;
        text-align: center;
        font: 400 12px/32px "Circular Std", sans-serif;
        color: #202020;
        background-color: transparent;
    }

    .header .header_top .nav ul li .links dl dt a .rightshape {
        position: absolute;
        width: 0px;
        height: 0px;
        right: 1px;
        border-color: transparent transparent transparent transparent;
        border-style: solid;
        border-width: 40px 0px 0px 8px;
        border-image: none 100% / 1 / 0 stretch;
        bottom: 8px;
        right: 0;
    }

    .header .header_top .nav ul li .links dl dt a .topshape {
        position: absolute;
        width: 0px;
        height: 0px;
        border-color: transparent transparent transparent;
        border-style: solid;
        border-width: 0 0px 32px 8px;
        border-image: none 100% / 1 / 0 stretch;
        top: 8px;
        left: 0;
    }

    .header .header_top .nav ul li .links dl dt a .bottomshape {
        position: absolute;
        width: 0px;
        height: 0px;
        border-color: transparent transparent transparent;
        border-style: solid;
        border-width: 0px 3px 8px 128px;
        border-image: none 100% / 1 / 0 stretch;
        top: 0;
        left: 0;
        transform: rotate(0deg);
    }

    .header .header_top .nav ul li .links dl dt a .leftshape {
        position: absolute;
        width: 0px;
        height: 0px;
        border-color: transparent transparent transparent;
        border-style: solid;
        border-width: 40px 10px 0 0;
        border-image: none 100% / 1 / 0 stretch;
        top: 8px;
        right: 0;
    }

    .header .header_top .nav ul li .links dl dt a.active {
        transition: .5 ease;
    }

    .header .header_top .nav ul li .links dl dt a.active small {
        display: block;
        width: 100%;
        text-align: center;
        font: 400 12px/32px "Circular Std", sans-serif;
        color: #202020;
        background-color: #FDCC4B;
    }

    .header .header_top .nav ul li .links dl dt a.active .rightshape {
        position: absolute;
        width: 0px;
        height: 0px;
        right: 1px;
        border-color: transparent transparent transparent #FDCC4B;
        border-style: solid;
        border-width: 40px 0px 0px 8px;
        border-image: none 100% / 1 / 0 stretch;
        bottom: 8px;
        right: 0;
    }

    .header .header_top .nav ul li .links dl dt a.active .topshape {
        position: absolute;
        width: 0px;
        height: 0px;
        border-color: transparent transparent #FDCC4B;
        border-style: solid;
        border-width: 0 0px 32px 8px;
        border-image: none 100% / 1 / 0 stretch;
        top: 8px;
        left: 0;
    }

    .header .header_top .nav ul li .links dl dt a.active .bottomshape {
        position: absolute;
        width: 0px;
        height: 0px;
        border-color: transparent transparent #FDCC4B;
        border-style: solid;
        border-width: 0px 3px 8px 120px;
        border-image: none 100% / 1 / 0 stretch;
        top: 0;
        left: 8px;
        transform: rotate(0deg);
    }

    .header .header_top .nav ul li .links dl dt a.active .leftshape {
        position: absolute;
        width: 0px;
        height: 0px;
        border-color: #FDCC4B transparent transparent;
        border-style: solid;
        border-width: 40px 10px 0 0;
        border-image: none 100% / 1 / 0 stretch;
        top: 8px;
        right: 0;
    }

    .header .header_top .nav ul li .links dl dt .submenu {
        display: none;
        width: 200px;
        height: auto;
        border-radius: 8px;
        position: absolute;
        top: 40px;
        left: 0;
        z-index: 9999;
        background-color: #1f488d;
        overflow: hidden;
    }

    .header .header_top .nav ul li .links dl dt .submenu a {
        display: block;
        width: 100%;
        padding: 0 16px;
        box-sizing: border-box;
        font: 400 12px/42px "Circular Std medium", sans-serif;
        color: rgba(255, 255, 255, 0.78);
        border-top: 1px solid rgba(255, 255, 255, 0.15);
    }

    .header .header_top .nav ul li .links dl dt .submenu a:first-child {
        border: none;
    }

    .header .header_top .nav ul li .links dl dt .submenu a:hover {
        background-color: #1f488d;
        color: #fff;
    }

    .header .header_top .nav ul li .linksright {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;
    }

    @media (max-width: 1024px) {
        .header .header_top .nav ul li .linksright {
            display: none;
        }
    }

    .header .header_top .nav ul li .linksright dl {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;
    }

    .header .header_top .nav ul li .linksright dl dt {
        width: auto;
        margin: 0 0 0 8px;
        position: relative;
    }

    .header .header_top .nav ul li .linksright dl dt:first-child {
        margin: 0;
    }

    .header .header_top .nav ul li .linksright dl dt:hover {
        transition: .5 ease;
    }

    .header .header_top .nav ul li .linksright dl dt:hover .submenu {
        display: block;
    }

    .header .header_top .nav ul li .linksright dl dt:hover small {
        display: block;
        width: 100%;
        text-align: center;
        font: 400 12px/32px "Circular Std", sans-serif;
        color: #202020;
        background-color: #FDCC4B;
    }

    .header .header_top .nav ul li .linksright dl dt:hover .rightshape {
        position: absolute;
        width: 0px;
        height: 0px;
        right: 1px;
        border-color: transparent transparent transparent #FDCC4B;
        border-style: solid;
        border-width: 40px 0px 0px 8px;
        border-image: none 100% / 1 / 0 stretch;
        bottom: 8px;
        right: 0;
    }

    .header .header_top .nav ul li .linksright dl dt:hover .topshape {
        position: absolute;
        width: 0px;
        height: 0px;
        border-color: transparent transparent #FDCC4B;
        border-style: solid;
        border-width: 0 0px 32px 8px;
        border-image: none 100% / 1 / 0 stretch;
        top: 8px;
        left: 0;
    }

    .header .header_top .nav ul li .linksright dl dt:hover .bottomshape {
        position: absolute;
        width: 0px;
        height: 0px;
        border-color: transparent transparent #FDCC4B;
        border-style: solid;
        border-width: 0px 3px 8px 164px;
        border-image: none 100% / 1 / 0 stretch;
        top: 0;
        left: 0;
        transform: rotate(0deg);
    }

    .header .header_top .nav ul li .linksright dl dt:hover .leftshape {
        position: absolute;
        width: 0px;
        height: 0px;
        border-color: #FDCC4B transparent transparent;
        border-style: solid;
        border-width: 40px 10px 0 0;
        border-image: none 100% / 1 / 0 stretch;
        top: 8px;
        right: 0;
    }

    .header .header_top .nav ul li .linksright dl dt a {
        display: block;
        width: 172px;
        color: #202020;
        text-transform: uppercase;
        position: relative;
        transition: .5 ease;
        padding: 8px;
        box-sizing: border-box;
    }

    .header .header_top .nav ul li .linksright dl dt a small {
        display: block;
        width: 100%;
        text-align: center;
        font: 400 12px/32px "Circular Std", sans-serif;
        color: #202020;
        background-color: transparent;
    }

    .header .header_top .nav ul li .linksright dl dt a .rightshape {
        position: absolute;
        width: 0px;
        height: 0px;
        right: 1px;
        border-color: transparent transparent transparent transparent;
        border-style: solid;
        border-width: 40px 0px 0px 8px;
        border-image: none 100% / 1 / 0 stretch;
        bottom: 8px;
        right: 0;
    }

    .header .header_top .nav ul li .linksright dl dt a .topshape {
        position: absolute;
        width: 0px;
        height: 0px;
        border-color: transparent transparent transparent;
        border-style: solid;
        border-width: 0 0px 32px 8px;
        border-image: none 100% / 1 / 0 stretch;
        top: 8px;
        left: 0;
    }

    .header .header_top .nav ul li .linksright dl dt a .bottomshape {
        position: absolute;
        width: 0px;
        height: 0px;
        border-color: transparent transparent transparent;
        border-style: solid;
        border-width: 0px 3px 8px 164px;
        border-image: none 100% / 1 / 0 stretch;
        top: 0;
        left: 0;
        transform: rotate(0deg);
    }

    .header .header_top .nav ul li .linksright dl dt a .leftshape {
        position: absolute;
        width: 0px;
        height: 0px;
        border-color: transparent transparent transparent;
        border-style: solid;
        border-width: 40px 10px 0 0;
        border-image: none 100% / 1 / 0 stretch;
        top: 8px;
        right: 0;
    }

    .header .header_top .nav ul li .linksright dl dt a.active {
        transition: .5 ease;
    }

    .header .header_top .nav ul li .linksright dl dt a.active small {
        display: block;
        width: 100%;
        text-align: center;
        font: 400 12px/32px "Circular Std", sans-serif;
        color: #202020;
        background-color: #FDCC4B;
    }

    .header .header_top .nav ul li .linksright dl dt a.active .rightshape {
        position: absolute;
        width: 0px;
        height: 0px;
        right: 1px;
        border-color: transparent transparent transparent #FDCC4B;
        border-style: solid;
        border-width: 40px 0px 0px 8px;
        border-image: none 100% / 1 / 0 stretch;
        bottom: 8px;
        right: 0;
    }

    .header .header_top .nav ul li .linksright dl dt a.active .topshape {
        position: absolute;
        width: 0px;
        height: 0px;
        border-color: transparent transparent #FDCC4B;
        border-style: solid;
        border-width: 0 0px 32px 8px;
        border-image: none 100% / 1 / 0 stretch;
        top: 8px;
        left: 0;
    }

    .header .header_top .nav ul li .linksright dl dt a.active .bottomshape {
        position: absolute;
        width: 0px;
        height: 0px;
        border-color: transparent transparent #FDCC4B;
        border-style: solid;
        border-width: 0px 3px 8px 164px;
        border-image: none 100% / 1 / 0 stretch;
        top: 0;
        left: 0;
        transform: rotate(0deg);
    }

    .header .header_top .nav ul li .linksright dl dt a.active .leftshape {
        position: absolute;
        width: 0px;
        height: 0px;
        border-color: #FDCC4B transparent transparent;
        border-style: solid;
        border-width: 40px 10px 0 0;
        border-image: none 100% / 1 / 0 stretch;
        top: 8px;
        right: 0;
    }

    .header .header_top .nav ul li .linksright dl dt .submenu {
        display: none;
        width: 200px;
        height: auto;
        border-radius: 8px;
        position: absolute;
        top: 40px;
        left: 0;
        z-index: 9999;
        background-color: #1f488d;
        overflow: hidden;
    }

    .header .header_top .nav ul li .linksright dl dt .submenu a {
        display: block;
        width: 100%;
        padding: 0 16px;
        box-sizing: border-box;
        font: 400 12px/42px "Circular Std medium", sans-serif;
        color: rgba(255, 255, 255, 0.78);
        border-top: 1px solid rgba(255, 255, 255, 0.15);
    }

    .header .header_top .nav ul li .linksright dl dt .submenu a:first-child {
        border: none;
    }

    .header .header_top .nav ul li .linksright dl dt .submenu a:hover {
        background-color: #1f488d;
        color: #fff;
    }

    .header .header_top .mobilenav {
        width: 100%;
        padding: 8px 24px;
        box-sizing: border-box;
        grid-template-columns: auto 48px;
        align-items: center;
        background-color: #F7F7F9;
        display: none;
    }

    @media (max-width: 1280px) {
        .header .header_top .mobilenav {
            display: grid;
        }
    }

    .header .header_top .mobilenav .mlogo {
        width: 100%;
        text-align: left;
    }

    .header .header_top .mobilenav .mlogo img {
        display: block;
        /* width: 100%; */
        max-width: 200px;
    }

    .header .header_top .mobilenav .morebtn {
        height: 40px;
        width: 40px;
        display: none;
    }

    @media (max-width: 1280px) {
        .header .header_top .mobilenav .morebtn {
            top: 10px;
            display: block;
        }
    }

    .header .header_top .mobilenav .morebtn #trigger-overlay {
        height: 40px;
        width: 40px;
        font: 400 14px/40px "Circular Std", sans-serif;
        text-transform: uppercase;
        color: #fff;
        display: inline-block;
        background: url('/public/img/menu.svg') no-repeat center #1f488d;
        background-size: 22px;
        border: none;
        cursor: pointer;
        box-sizing: border-box;
        border-radius: 50%;
    }

    .header .header_top .mobilenav .morebtn .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #1f488d;
        z-index: 99999;
    }

    .header .header_top .mobilenav .morebtn .overlay .overlay-close {
        width: 32px;
        height: 32px;
        position: absolute;
        right: 20px;
        top: 20px;
        overflow: hidden;
        border: none;
        background: url('/public/img/close.svg') no-repeat center center;
        background-size: 32px;
        text-indent: 200%;
        color: transparent;
        outline: none;
        z-index: 100;
        cursor: pointer;
    }

    .header .header_top .mobilenav .morebtn .overlay nav {
        text-align: center;
        position: relative;
        height: 100%;
    }

    .header .header_top .mobilenav .morebtn .overlay .mm_links {
        width: 100%;
        padding: 48px;
        box-sizing: border-box;
        overflow-x: auto;
        height: 100%;
    }

    .header .header_top .mobilenav .morebtn .overlay .mm_links ul {
        margin: 0 auto;
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 0;
    }

    @media (max-width: 768px) {
        .header .header_top .mobilenav .morebtn .overlay .mm_links ul {
            display: grid;
            grid-gap: 62px;
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .header .header_top .mobilenav .morebtn .overlay .mm_links ul li {
        display: block;
        width: 25%;
    }

    @media (max-width: 768px) {
        .header .header_top .mobilenav .morebtn .overlay .mm_links ul li {
            width: 100%;
        }
    }

    .header .header_top .mobilenav .morebtn .overlay .mm_links ul li b {
        display: block;
        width: 100%;
        text-align: left;
        font: 400 16px "Circular Std", sans-serif;
        color: #fff;
        text-transform: uppercase;
    }

    .header .header_top .mobilenav .morebtn .overlay .mm_links ul li dl {
        width: 100%;
        margin: 24px 0 0 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .header .header_top .mobilenav .morebtn .overlay .mm_links ul li dl dt {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .header .header_top .mobilenav .morebtn .overlay .mm_links ul li dl dt a {
        display: inline-block;
        width: 240px;
        font: 400 16px "Circular Std medium", sans-serif;
        color: #fff;
        position: relative;
        padding: 12px;
        box-sizing: border-box;
        transition: .5s ease-in-out;
    }

    .header .header_top .mobilenav .morebtn .overlay .mm_links ul li dl dt a small {
        display: block;
        width: 100%;
        text-align: center;
        font: 400 16px/48px "Circular Std", sans-serif;
        color: rgba(255, 255, 255, 0.78);
        background-color: transparent;
    }

    .header .header_top .mobilenav .morebtn .overlay .mm_links ul li dl dt a .rightshape {
        position: absolute;
        width: 0px;
        height: 0px;
        right: 1px;
        border-color: transparent transparent transparent transparent;
        border-style: solid;
        border-width: 48px 0px 0px 12px;
        border-image: none 100% / 1 / 0 stretch;
        bottom: 12px;
        right: 0;
    }

    .header .header_top .mobilenav .morebtn .overlay .mm_links ul li dl dt a .topshape {
        position: absolute;
        width: 0px;
        height: 0px;
        border-color: transparent transparent transparent;
        border-style: solid;
        border-width: 0 0px 48px 12px;
        border-image: none 100% / 1 / 0 stretch;
        top: 12px;
        left: 0;
    }

    .header .header_top .mobilenav .morebtn .overlay .mm_links ul li dl dt a .bottomshape {
        position: absolute;
        width: 0px;
        height: 0px;
        border-color: transparent transparent transparent;
        border-style: solid;
        border-width: 0px 3px 12px 218px;
        border-image: none 100% / 1 / 0 stretch;
        top: 0;
        left: 8px;
        transform: rotate(0deg);
    }

    .header .header_top .mobilenav .morebtn .overlay .mm_links ul li dl dt a.active small {
        display: block;
        width: 100%;
        text-align: center;
        font: 400 16px/48px "Circular Std", sans-serif;
        color: #202020;
        background-color: #FDCC4B;
    }

    .header .header_top .mobilenav .morebtn .overlay .mm_links ul li dl dt a.active .rightshape {
        position: absolute;
        width: 0px;
        height: 0px;
        right: 1px;
        border-color: transparent transparent transparent #FDCC4B;
        border-style: solid;
        border-width: 48px 0px 0px 12px;
        border-image: none 100% / 1 / 0 stretch;
        bottom: 12px;
        right: 0;
    }

    .header .header_top .mobilenav .morebtn .overlay .mm_links ul li dl dt a.active .topshape {
        position: absolute;
        width: 0px;
        height: 0px;
        border-color: transparent transparent #FDCC4B;
        border-style: solid;
        border-width: 0 0px 48px 12px;
        border-image: none 100% / 1 / 0 stretch;
        top: 12px;
        left: 0;
    }

    .header .header_top .mobilenav .morebtn .overlay .mm_links ul li dl dt a.active .bottomshape {
        position: absolute;
        width: 0px;
        height: 0px;
        border-color: transparent transparent #FDCC4B;
        border-style: solid;
        border-width: 0px 3px 12px 218px;
        border-image: none 100% / 1 / 0 stretch;
        top: 0;
        left: 8px;
        transform: rotate(0deg);
    }

    .header .header_top .mobilenav .morebtn .overlay .mm_links ul li dl dt a:hover {
        transform: translate3d(-6px, 12px, 0);
        transition: .5s ease-in-out;
    }

    .header .header_top .mobilenav .morebtn .overlay .mm_links ul li dl dt a:hover small {
        display: block;
        width: 100%;
        text-align: center;
        font: 400 16px/48px "Circular Std", sans-serif;
        color: #202020;
        background-color: #FDCC4B;
    }

    .header .header_top .mobilenav .morebtn .overlay .mm_links ul li dl dt a:hover .rightshape {
        position: absolute;
        width: 0px;
        height: 0px;
        right: 1px;
        border-color: transparent transparent transparent #FDCC4B;
        border-style: solid;
        border-width: 48px 0px 0px 12px;
        border-image: none 100% / 1 / 0 stretch;
        bottom: 12px;
        right: 0;
    }

    .header .header_top .mobilenav .morebtn .overlay .mm_links ul li dl dt a:hover .topshape {
        position: absolute;
        width: 0px;
        height: 0px;
        border-color: transparent transparent #FDCC4B;
        border-style: solid;
        border-width: 0 0px 48px 12px;
        border-image: none 100% / 1 / 0 stretch;
        top: 12px;
        left: 0;
    }

    .header .header_top .mobilenav .morebtn .overlay .mm_links ul li dl dt a:hover .bottomshape {
        position: absolute;
        width: 0px;
        height: 0px;
        border-color: transparent transparent #FDCC4B;
        border-style: solid;
        border-width: 0px 3px 12px 218px;
        border-image: none 100% / 1 / 0 stretch;
        top: 0;
        left: 8px;
        transform: rotate(0deg);
    }

    .header .header_top .mobilenav .morebtn .overlay-slidedown {
        visibility: hidden;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
        transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
    }

    .header .header_top .mobilenav .morebtn .overlay-slidedown.open {
        visibility: visible;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        -webkit-transition: -webkit-transform 0.4s ease-in-out;
        transition: transform 0.4s ease-in-out;
    }



    .scrollToTop {
        width: 48px;
        height: 48px;
        text-align: center;
        color: #fff;
        background: url('/public/img/scrolltop.svg') no-repeat center #FDCC4B;
        background-size: 24px;
        text-decoration: none;
        position: fixed;
        bottom: 40px;
        right: 40px;
        display: none;
        border-radius: 50%;
        overflow: hidden;
        z-index: 9999; }

        .scrollToTop.show {
            display: block; /* This will show the button when the 'show' class is added */
          }


