.ourways {
    width: 100%;
    max-width: 1024px;
    padding: 0 24px 106px 24px;
    box-sizing: border-box;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .ourways {
        max-width: 768px;
    }
}

@media (max-width: 768px) {
    .ourways {
        max-width: 560px;
        padding: 0 24px 72px 24px;
    }
}

@media (max-width: 560px) {
    .ourways {
        max-width: 420px;
    }
}

@media (max-width: 420px) {
    .ourways {
        max-width: 340px;
    }
}

.ourways h2 {
    text-align: center;
    /* font: 400 40px "Circular Std", sans-serif; */
    color: #000;
    font-size: 50px;
}

@media (max-width: 1280px) {
    .ourways h2 {
        font-size: 32px;
    }
}

@media (max-width: 560px) {
    .ourways h2 {
        font-size: 24px;
    }
}

.ourways h2 span {
    font: 400 72px "just_lovelyslanted", serif;
    color: #1f488d;
}

@media (max-width: 1280px) {
    .ourways h2 span {
        font-size: 62px;
    }
}

@media (max-width: 560px) {
    .ourways h2 span {
        font-size: 48px;
    }
}

.ourways ul {
    width: 100%;
    margin: 32px 0 0 0;
    display: grid;
    grid-gap: 48px;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
    .ourways ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 560px) {
    .ourways ul {
        grid-template-columns: repeat(1, 1fr);
    }
}

.ourways ul li {
    width: 100%;
}

.ourways ul li:hover b {
    transform: translate3d(-15px, -15px, 0);
    transition: .5s ease;
}

.ourways ul li:hover .photo {
    transform: translate3d(10px, 10px, 0);
    transition: .5s ease;
}

.ourways ul li .photo {
    width: 100%;
    transition: .5s ease;
}

.ourways ul li .photo img {
    display: block;
    width: 100%;
}

.ourways ul li b {
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    height: 56px;
    padding: 8px 10px;
    box-sizing: border-box;
    bottom: 10px;
    transition: .5s ease;
}

.ourways ul li b small {
    display: block;
    width: 100%;
    font: 400 15px/30px "Circular Std Book", sans-serif;
    color: #000;
    background-color: #FDCC4B;
    height: 40px;
}

.ourways ul li b .rightshape {
    position: absolute;
    width: 0px;
    height: 0px;
    right: 1px;
    border-color: transparent transparent transparent #FDCC4B;
    border-style: solid;
    border-width: 40px 0px 0px 10px;
    border-image: none 100% / 1 / 0 stretch;
    bottom: 8px;
}

.ourways ul li b .topshape {
    position: absolute;
    width: 0px;
    height: 0px;
    border-color: transparent transparent #FDCC4B;
    border-style: solid;
    border-width: 0 0px 40px 10px;
    border-image: none 100% / 1 / 0 stretch;
    top: 8px;
    left: 1px;
}

.ourways ul li b .bottomshape {
    position: absolute;
    width: 0px;
    height: 0px;
    border-color: transparent transparent #FDCC4B;
    border-style: solid;
    border-width: 0px 5px 20px 267.5px;
    border-image: none 100% / 1 / 0 stretch;
    top: -12px;
    left: 10px;
    transform: rotate(0deg);
}

@media (max-width: 1024px) {
    .ourways ul li b .bottomshape {
        border-width: 0px 5px 20px 183px;
    }
}

@media (max-width: 768px) {
    .ourways ul li b .bottomshape {
        border-width: 0px 5px 20px 207px;
    }
}

@media (max-width: 560px) {
    .ourways ul li b .bottomshape {
        border-width: 0px 5px 20px 347px;
    }
}

@media (max-width: 420px) {
    .ourways ul li b .bottomshape {
        border-width: 0px 5px 20px 267px;
    }
}

.ourways ul li b .leftshape {
    position: absolute;
    width: 0px;
    height: 0px;
    border-color: #FDCC4B transparent transparent;
    border-style: solid;
    border-width: 40px 10px 0 0;
    border-image: none 100% / 1 / 0 stretch;
    top: 8px;
    right: 0;
}

.ourways ul li b .leftshape1 {
    position: absolute;
    width: 0px;
    height: 0px;
    border-color: #1f488d transparent transparent;
    border-style: solid;
    border-width: 399.5px 0px 0px 25px;
    border-image: none 100% / 1 / 0 stretch;
    bottom: 0px;
    left: 1px;
}