.videomessages {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-gap: 96px;
    grid-template-columns: repeat(1, 1fr);
    padding: 0 24px;
    box-sizing: border-box;
}

@media (max-width: 1280px) {
    .videomessages {
        max-width: 1024px;
    }
}

@media (max-width: 1024px) {
    .videomessages {
        max-width: 768px;
        grid-gap: 48px;
    }
}

@media (max-width: 768px) {
    .videomessages {
        max-width: 560px;
    }
}

@media (max-width: 560px) {
    .videomessages {
        max-width: 420px;
    }
}

@media (max-width: 560px) {
    .videomessages {
        max-width: 340px;
    }
}

.videomessages ul {
    width: 100%;
    display: grid;
    grid-gap: 62px;
    grid-template-columns: auto 40%;
    align-items: center;
}

@media (max-width: 1024px) {
    .videomessages ul {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 32px;
    }
}

@media (max-width: 768px) {
    .videomessages ul {
        grid-template-columns: repeat(1, 1fr);
    }
}

.videomessages ul li {
    width: 100%;
}

.videomessages ul li img {
    display: block;
    width: 100%;
}

.videomessages ul li h1 {
    text-align: left;
    font: 400 48px "Circular Std", sans-serif;
    color: #1f488d;
    text-transform: uppercase;
}

@media (max-width: 1280px) {
    .videomessages ul li h1 {
        font-size: 36px;
    }
}

.videomessages ul li h2 {
    text-align: left;
    font: 700 18px "Source Serif Pro", serif;
    color: #000;
    margin: 16px 0;
}

@media (max-width: 1280px) {
    .videomessages ul li h2 {
        font-size: 16px;
    }
}

.videomessages ul li h2 span {
    display: inline-block;
    background-color: #FDCC4B;
    padding: 0 4px;
    box-sizing: border-box;
}

.videomessages ul li p {
    text-align: left;
    font: 400 15px "Circular Std Book", sans-serif;
    color: #505050;
}

@media (max-width: 1280px) {
    .videomessages ul li p {
        font-size: 14px;
    }
}

.videomessages ul li p span {
    font: 400 15px "Circular Std medium", sans-serif;
    color: #000;
}

@media (max-width: 1280px) {
    .videomessages ul li p span {
        font-size: 14px;
    }
}

.videomessages ul li a {
    text-align: left;
    font: 400 13px "Circular Std", sans-serif;
    text-transform: uppercase;
    color: #1f488d;
    letter-spacing: 2px;
    margin: 32px 0 0 0;
    display: inline-block;
    /* background: url(../icons/right-arr.svg) no-repeat right center; */
    background-size: 24px;
    padding: 0 24px 0 0;
    box-sizing: border-box;
    transition: .25s ease-out;
}

@media (max-width: 1280px) {
    .videomessages ul li a {
        font-size: 12px;
    }
}

.videomessages ul li a:hover {
    padding: 0 36px 0 0;
    transition: .25s ease-in;
}

.videomessages ul li video {
    display: block;
    width: 100%;
}

.videomessages ul li .btns {
    width: 100%;
    margin: 12px 0 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.videomessages ul li .btns button {
    display: inline-block;
    border: none;
    font-size: 0;
    height: 40px;
    width: 48px;
    cursor: pointer;
    transition: .15s ease-out;
}

.videomessages ul li .btns button.playbite {
    /* background: url('img/playbtn.svg') no-repeat center; */
    background-size: 48px;
}

.videomessages ul li .btns button.pausebite {
    /* background: url('img/pausebtn.svg') no-repeat center; */
    background-size: 48px;
}

.videomessages ul li .btns .name {
    width: 100%;
}

.videomessages ul li .btns .name b {
    display: block;
    width: 100%;
    text-align: right;
    font: 400 16px "Circular Std medium", sans-serif;
    color: #1f488d;
}

.videomessages ul li .btns .name span {
    display: block;
    width: 100%;
    text-align: right;
    font: 400 12px "Circular Std Book", sans-serif;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.videomessages dl {
    width: 100%;
    display: grid;
    grid-gap: 48px;
    grid-template-columns: 40% auto;
    align-items: center;
}

@media (max-width: 1024px) {
    .videomessages dl {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 32px;
    }
}

@media (max-width: 768px) {
    .videomessages dl {
        grid-template-columns: repeat(1, 1fr);
    }
}

.videomessages dl dt {
    width: 100%;
}

.videomessages dl dt img {
    display: block;
    width: 100%;
}

.videomessages dl dt h1 {
    text-align: left;
    font: 400 48px "Circular Std", sans-serif;
    color: #1f488d;
    text-transform: uppercase;
}

@media (max-width: 1280px) {
    .videomessages dl dt h1 {
        font-size: 36px;
    }
}

.videomessages dl dt h2 {
    text-align: left;
    font: 700 18px "Source Serif Pro", serif;
    color: #000;
    margin: 16px 0;
}

@media (max-width: 1280px) {
    .videomessages dl dt h2 {
        font-size: 16px;
    }
}

.videomessages dl dt h2 span {
    display: inline-block;
    background-color: #FDCC4B;
    padding: 0 4px;
    box-sizing: border-box;
}

.videomessages dl dt p {
    text-align: left;
    font: 400 15px "Circular Std Book", sans-serif;
    color: #505050;
}

@media (max-width: 1280px) {
    .videomessages dl dt p {
        font-size: 14px;
    }
}

.videomessages dl dt p span {
    font: 400 15px "Circular Std medium", sans-serif;
    color: #000;
}

@media (max-width: 1280px) {
    .videomessages dl dt p span {
        font-size: 14px;
    }
}

.videomessages dl dt a {
    text-align: left;
    font: 400 13px "Circular Std", sans-serif;
    text-transform: uppercase;
    color: #1f488d;
    letter-spacing: 2px;
    margin: 32px 0 0 0;
    display: inline-block;
    /* background: url(../icons/right-arr.svg) no-repeat right center; */
    background-size: 24px;
    padding: 0 24px 0 0;
    box-sizing: border-box;
    transition: .25s ease-out;
}

@media (max-width: 1280px) {
    .videomessages dl dt a {
        font-size: 12px;
    }
}

.videomessages dl dt a:hover {
    padding: 0 36px 0 0;
    transition: .25s ease-in;
}

.videomessages dl dt video {
    display: block;
    width: 100%;
}

.videomessages dl dt .btns {
    width: 100%;
    margin: 12px 0 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.videomessages dl dt .btns button {
    display: inline-block;
    border: none;
    font-size: 0;
    height: 40px;
    width: 48px;
    cursor: pointer;
    transition: .15s ease-out;
}

.videomessages dl dt .btns button.playbite {
    /* background: url('img/playbtn.svg') no-repeat center; */
    background-size: 48px;
}

.videomessages dl dt .btns button.pausebite {
    /* background: url('img/pausebtn.svg') no-repeat center; */
    background-size: 48px;
}

.videomessages dl dt .btns .name {
    width: 100%;
}

.videomessages dl dt .btns .name b {
    display: block;
    width: 100%;
    text-align: right;
    font: 400 16px "Circular Std medium", sans-serif;
    color: #1f488d;
}

.videomessages dl dt .btns .name span {
    display: block;
    width: 100%;
    text-align: right;
    font: 400 12px "Circular Std Book", sans-serif;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
}

