.teachersWrapper .educators {
    width: 100%;
    margin: 62px 0 0 0;
    display: grid;
    grid-gap: 48px;
    grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width:768px) {
.teachersWrapper{
    margin: 217px auto 0 auto;
}
}
@media (max-width: 768px) {
    .teachersWrapper .educators {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
        margin: 32px 0 0 0;
    }
}

@media (max-width: 560px) {
    .teachersWrapper .educators {
        margin: 16px 0 0 0;
    }
}

.teachersWrapper .educators dt {
    width: 100%;
}

.teachersWrapper .educators dt p {
    text-align: left;
    font: 400 14px "Circular Std Book", sans-serif;
    color: #505050;
    margin: 24px 0 0 0;
}

.teachersWrapper .educators dt p span {
    font: 400 14px "Circular Std medium", sans-serif;
    color: #000;
}

.teachersWrapper .ratio {
    width: 100%;
    display: grid;
    grid-gap: 62px;
    grid-template-columns: repeat(4, 1fr);
    margin: 56px 0 0 0;
}

@media (max-width: 1024px) {
    .teachersWrapper .ratio {
        grid-gap: 32px;
    }
}

@media (max-width: 768px) {
    .teachersWrapper .ratio {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 420px) {
    .teachersWrapper .ratio {
        margin: 36px 0 0 0;
        grid-gap: 16px;
    }
}

.teachersWrapper .ratio li {
    width: 100%;
}

.teachersWrapper .ratio li h2 {
    text-align: left;
    font: 400 48px "Circular Std", sans-serif;
    color: #E3010F;
}

@media (max-width: 420px) {
    .teachersWrapper .ratio li h2 {
        font-size: 32px;
    }
}

.teachersWrapper .ratio li b {
    display: block;
    width: 100%;
    text-align: left;
    font: 400 14px "Circular Std Book", sans-serif;
    color: #505050;
}

@media (max-width: 420px) {
    .teachersWrapper .ratio li b {
        font-size: 13px;
    }
}